<h2>Post Search</h2>
<div jqcIf="searchs.length">
    <h4>Recent searchs</h4>
    <ul>
        <li jqcEach="searchs"><a href="javascript:;" jqcOn="click: {fire: 'searchRecent({.})'}" jqcText="{.}"></a></li>
    </ul>
</div>
<div jqc="search_bar" jqcCallback='search:searchPost'></div>
<div jqc="post_table"></div>
<div jqc="post_table" jqcLink="filteredPosts:posts"></div>

<script>
(function($) {
    var posts = [];
    var users = [];
    return {
        filteredPosts: [],
        searchs : [],
        init: function() {
            $.get('https://jsonplaceholder.typicode.com/posts', '', function(data){
                posts = data;
            });
            $.get("https://jsonplaceholder.typicode.com/users", '', function(data){
                users = data;
            })
        },
        searchPost: function(searchBy, txt, recent) {
            if(recent !== false) recent = true;
            var This = this;
            this.filteredPosts = [];
            $.each(posts, function(idx ,post){
                var key = searchBy.toLowerCase();
                if(post[key] && post[key].indexOf(txt) > -1){  
                    $.each(users, function(){
                        if(this.id == post.userId){
                            post.user = this.name;
                            return false;
                        }
                    });       
                    This.filteredPosts.push(post);
                }
            });
            if(recent)
                this.searchs.push(searchBy + " -> " + txt);
        },
        searchRecent: function(txt){
            this.searchPost(txt.split(" -> ")[0], txt.split(" -> ")[1], false);
        }
    };
})(jQuery);
</script>