<h2>Post Search</h2>
<div jqcIf="searchs.length">
    <h4>Recent searchs</h4>
    <ul>
        <li jqcEach="searchs"><a href="javascript:;" jqcOn="click: {fire: 'searchRecent({.})'}" jqcText="{.}"></a></li>
    </ul>
</div>
<div jqc="search_bar" jqcCallback='search:searchPost' jqcLink="searchBy->searchBy, searchTxt->txt"></div>
<div jqc="post_table"></div>
<div jqc="post_table" jqcLink="filteredPosts->posts"></div>

<script>
(function($) {
    function loadData(posts){
        $.each(posts, function(idx ,post){
            $.each($.users, function(){
                if(this.id == post.userId){
                    post.user = this.name;
                    return false;
                }
            }); 
        });
        return posts;    
    }
    var m = {
        filteredPosts: [],
        searchs : [],
        searchBy : 'Title',
        searchTxt : '',
        init: function() {
            var This = this;
            if(!$.posts){
                var p = $.get('https://jsonplaceholder.typicode.com/posts', '', function(data){
                    $.posts = data;
                });
                var u = $.get("https://jsonplaceholder.typicode.com/users", '', function(data){
                    $.users = data;
                });
                $.when(p, u).done(function() {
                    This.filteredPosts = $.posts.splice(0, 10);
                    This.filteredPosts = loadData(This.filteredPosts);
                    if(This.update) This.update();
                });
            }
        },
        searchPost: function(searchBy, txt, recent) {
            if(recent !== false) recent = true;
            var This = this;
            this.filteredPosts = [];
            $.each($.posts, function(idx ,post){
                var key = searchBy.toLowerCase();
                if(post[key] && post[key].indexOf(txt) > -1) This.filteredPosts.push(post);
                This.filteredPosts = loadData(This.filteredPosts);
            });
            if(recent)
                this.searchs.push(searchBy + " -> " + txt);
            this.searchTxt = txt;
            this.searchBy = searchBy;
        },
        searchRecent: function(txt){
            this.searchPost(this.searchBy=txt.split(" -> ")[0], this.searchTxt=txt.split(" -> ")[1], false);
        }
    };
    return m;
})(jQuery);
</script>