<style>
    body {
        padding-top: 5rem;
    }
    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
    .errorInput {
        border: 1px solid red !important;
    }
    .loader {
        margin-top: 50%;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .itineraryDiv table td{
        padding: 5px;
        border: 1px solid lightgray !important;
    }
    .itineraryDiv div{
        margin: 0px !important;
    }
    .itineraryDiv img, .cabins_info img, .ships_info img, .cruiseline_info img, .decks_info img, .rates_info img{
        max-width: 100%;
        height: auto;
    }
    #detailTabs .card, #formTabs .card {
        border: 0px;
    }
    #detailTabs .card-header, #formTabs .card-header {
        border: 1px solid rgba(0,0,0,.125);
    }
    .cabins_info ul {
        padding-left: 2px;
        margin: 10px !important;
    }
    .cabins_info ul ul {
        margin: 0px !important;
    }
    .ships_info div {
        margin-left: 0px !important;
    }
    .cabins_table {
        width: 100%;
    }
    .animated.faster {
        animation-duration: 200ms;
    }
</style>
<div jqc="cmd_navbar" jqcLink="page->page,back->back,todaydeals->todaydeals,alldeals->alldeals,favourites->favourites,aboutus->aboutus,contactus->contactus"></div>
<main role="main" class="container">
    <form class="form-inline my-2 my-lg-0" jqcOn="submit : 'dosearch()'">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ie. Oceania Sydney" aria-label="Search" aria-describedby="button-topsearch" jqcBind='searchTxt'>
          <div class="input-group-append">
            <button jqcIf="page != 'search'" class="btn btn-outline-secondary" type="submit" id="button-topsearch">Search</button>
            <button jqcIf="page == 'search'" class="btn btn-outline-secondary" type="button" id="button-topsearch" jqcOn="click : 'resetSearch()'">X</button>
          </div>
        </div>
    </form>
    <div jqcIf="page == 'list'" class="mainContainer">
        <div jqcIf="deals_length == 0">
            <center>
                <div class="loader"></div>
            </center>
        </div>
        <center jqcIf="updated == true">
            <div class="newdealsalert" style="color:red;">
                <a href="javascript:;" jqcOn="click : 'reload()'">New Deals Now Avaliable, Don't Miss Out! <span class="oi oi-loop-circular"></span></a>
            </div>
        </center>
        <div jqc="cmd_dealslide" jqcEach="ldeals" jqcLink="showPost->showPost,ldeals_i->index" class="animated faster slideInLeft"></div>
    </div>
    <div jqcIf="page == 'search'" class="mainContainer">
        <div jqc="cmd_dealslide" jqcEach="ldeals" jqcLink="showPost->showPost,ldeals_i->index" class="animated faster slideInLeft"></div>
    </div>
    <div jqcIf="page == 'detail'" class="mainContainer">
        <div jqc="cmd_details" jqcLink="detail->__detail" class="animated faster slideInLeft"></div>
    </div>
    <div jqcIf="page == 'todaydeals' && detail" class="mainContainer">
        <div jqc="cmd_details" jqcLink="detail->__detail" class="animated faster slideInLeft"></div>
    </div>
    <div jqcIf="page == 'aboutus'" class="mainContainer">
        <div jqc="cmd_aboutus" class="animated faster slideInLeft"></div>
    </div>
    <div jqcIf="page == 'contactus'" class="mainContainer">
        <div jqc="cmd_contactus" class="animated faster slideInLeft"></div>
    </div>
    <div jqcIf="page == 'favourites'" class="mainContainer">
        <div jqc="cmd_dealslide" jqcEach="ldeals" jqcLink="showPost->showPost,ldeals_i->index,reloadFavour->onReload" class="animated faster slideInLeft"></div>
    </div>
</main>