<h2>Chinese Study</h2>
<div jqcIf="page == 'list'">
    <div jqcEach="cdata">
        <button jqcOn="click: {fire: 'read({.}.index)'}" class="btn btn-primary">Read</button> &nbsp;
        <span jqcEach="{.}.chars" class="char"><font jqcText="{.}.char"></font></span> &nbsp;
        <button jqcOn="click: {testing : 'false', fire: 'learn({.}.index)'}" class="btn btn-primary">Learn</button> &nbsp;
        <button jqcOn="click: {testing : 'true', fire : 'learn({.}.index)'}" class="btn btn-primary">Test</button> &nbsp;
    </div>
</div>
<div jqcIf="page == 'learn' || page == 'test'">
    <div><button jqcOn="click: {fire : 'start()'}" class="btn btn-primary">Play</button>
        <button jqcOn="click: {fire : 'learn(learnIndex)'}" class="btn btn-primary">Change</button></div>
    <div class="lChar text-center" jqcText="lChar"></div>
    <div class="lAllChars text-center" jqc="chi_chars" jqcLink="highlighted->highlighted,lCharIndex->lCharIndex,learnChars->learnChars"></div>
    <div><button jqcOn="click: {page : 'list'}" class="btn btn-primary">Back</button></div>
</div>
<style>
    .char {
        font-size: 2em;
    }
    .lChar {
        font-size: 4em;
    }
    .lAllChars {
        font-size: 3em;
    }
    .highlighted {
        border: 1px solid rgb(221, 218, 218);
    }
</style>

<script>
    (function($){
        $.ajax({
            data: {},
            type: "GET",
            url: "assets/data/dataChinese.txt?"+Math.random(),
            success: function(d){
                var data = d.split("\n");
                console.log(data);
                var data1 = [];
                $.each(data, function(i, v){
                    var row = [];
                    var j = 0;
                    for (var c of v) {
                        row.push({index: j, char: c});
                        j++;
                    }
                    data1.push({index: i, chars: row});
                });
                m.cdata = data1;
                if(m.update)
                    m.update();
            }
        });
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        var m = {
            page: 'list',
            learnIndex: 0,
            learnChars: [],
            lChar: '',
            lCharIndex: 0,
            cdata: [],
            highlighted: 0,
            read: function(index){
                new Audio('assets/data/mp3/c'+(index+1)+'.m4a').play();
            },
            learn: function(index){
                var This = this;
                this.page = 'learn';
                this.learnIndex = index;
                this.learnChars = JSON.parse(JSON.stringify(this.cdata[index].chars));
                do{
                    this.lChar = this.cdata[index].chars[this.lCharIndex=getRandomInt(0, 18)].char;
                }while(!this.lChar.trim());
                if(this.testing == 'true'){
                    this.learnChars.forEach(function(i){
                        if(i.char.trim())i.char = '口';
                    });
                }
                This.start();
            },
            start: function() {
                this.highlighted = 0;
                new Audio('assets/data/mp3/c'+(this.learnIndex+1)+'.m4a').play();                  
            }
        };
        return m;
    })(jQuery);
</script>