<div><span jqcEach="learnChars" class="text-left"><span jqcIfAttr="highlighted == {.}.index ? {class: 'highlighted'} : ''"><a href="javascript:;" jqcOn="click: {fire: 'testClick({.}.index)'}"><font jqcText="{.}.char"></font></a></span></span></div>

<script>
	m = {
	    learnChars: [],
	    lCharIndex: 0,
	    highlighted: 0,
	    init: function(){
			var This = this;
			//if(!This.__wait) This.__wait = 870;
			//else 
			This.__wait = 370;
	    	This.__timer = This.__timer || setTimeout(This.hightlightAdd = function() {
				This.__timer = 0;
				console.log(This);
                if(!This.isValid() || This.highlighted > 18) return;
                This.highlighted++;
                This.update();
            },This.__wait);
	    },
	    testClick: function(index){
            if(index == this.lCharIndex) alert("Yes!");
            else alert("No!");
        }
	}
</script>