<!-- Demo styles -->
<style>
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .page-tutorial .slide-image {
        max-height: 30%;
        max-width: 60%;
        margin: 36px 0;
    }
</style>
<!-- Swiper -->
<div class="swiper-container page-tutorial">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="slide-image" src="assets/img/ica-slidebox-img-1.png"><br>
            <h2 class="slide-title">
            Welcome to <b>CMD</b>
            </h2><br?
            <p>
            The <b>Cruise Mega Deals app</b> has been made to bring our greatest deals to you.
            </p>
        </div>
    <div class="swiper-slide">
            <img class="slide-image" src="assets/img/ica-slidebox-img-2.png">
            <h2 class="slide-title">Just keep swiping</h2>
            <p><b>We all love swiping.</b> Swipe left and right to find a deal that suits you! Favourite, share and enquire about deals too!</p>
    </div>
    <div class="swiper-slide">
        <img class="slide-image" src="assets/img/ica-slidebox-img-4.png">
        <h2 class="slide-title">Ready to find some Mega Deals?</h2>
        <br><br>
        <a href="javascript:;" jqcOn="click: {fire: 'parent.close()'}">Continue ></a></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<script>
    m = {
        after: function() {
            var swiper = new Swiper('.swiper-container', {
                    pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
            });
        },
    }
</script>