<style>
    body {
        padding-top: 5rem;
    }
    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
</style>
<main role="main" class="container">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
    <div class="starter-template">
    <!-- Swiper -->
        <div jqcIf="deals.length == 0">Loading...</div>
        <div class="swiper-container alldeals">
            <div class="swiper-wrapper">
                <div class="swiper-slide" jqc="cmd_dealslide" jqcEach="deals"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

</main><!-- /.container -->

<script>
    m = {
        deals : [],
        after: function() {
            var swiper = new Swiper('.swiper-container', {
                    pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
            });
        },
        load: function() {
            var This = this;
            $.get("http://cmd.local/wp-json/wp/v2/cruise/?_embed&per_page=10", {}, function(data){
                This.deals = data;
                This.update();
            });
        }
    }
</script>