<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div jqcIf="!page || page != 'detail'">
        <a class="navbar-brand" href="#">CMD</a>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" jqcIfClass="[page=='todaydeals','active']">
                <input type="radio" name="options" id="option1" autocomplete="off" jqcOn="change : {fire: 'parent.todaydeals()'}">Today's Deals
            </label>
            <label class="btn btn-secondary" jqcIfClass="[page=='list','active']">
                <input type="radio" name="options" id="option1" autocomplete="off" jqcOn="change : {fire: 'parent.alldeals()'}"> All
            </label>
            <label class="btn btn-secondary" jqcIfClass="[page=='favourites','active']">
                <input type="radio" name="options" id="option2" autocomplete="off" jqcOn="change : {fire: 'parent.favourites()'}"> Favourites
            </label>
        </div>
    </div>
    <div jqcIf="page == 'detail'">
        <a class="navbar-brand" href="javascript:;" jqcOn="click : {fire: 'parent.back()'}">&larr; Back</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<script>
    m = {
        page: ''
    }
</script>