<html>

<body>
    <br>
    <h1>
        About Us
    </h1>
    <div>
            We offer the Best Cruise Deals! Join the happy cruisers and turn to Cruise Mega Deals Australia for best value for money!  
    </div>
    <br>
    <h2>
        Why Cruise Mega Deals
    </h2>
    <div>
        <b>* Exceptional Savings</b>  We choose from hundreds of great offers from different cruiselines, wholesalers, agents, and only present the best deals which saves you sometimes over 80% over brochure prices!<br><br> 
        <b>* Quality Booking Agents</b>  We choose quality retail cruise agents to help you complete the booking process. They are professional, knowledgeable and offer great services!<br><br>
        <b>* Excellent Service</b> Our staff are committed to provide you a seamless user experience and booking process.<br><br> 
        We are here to help you Mon – Fri 9-5pm. Email us any time Support@CruiseMegaDeals.com.au.<br><br>
        We will respond within 24hrs during business days.<br><br>  
    </div>
    <h2>
        Company Information
    </h2>
    <div>
            The Cruise Mega Deals Australia website www.CruiseMegaDeals.com.au is owned and operated by Cyber Investment Holdings Pty Ltd. Our office is registered at Suite 303/25 Lime Street, Sydney, NSW 2000. 
    </div>
    <br>
    <h2>
        Limitation of liability
    </h2>
    <div>
            Although tough control mechanisms are in place, errors on the website may occur. Contents can be directly provided by third parties, such as cruiselines, wholesalers or retail cruise agencies. Cruise Mega Deals is in no way responsible for any damage or loss incurred due to errors made on this site. The website contains links to other websites. Cruise Mega Deals Australia is in no way responsible for the content provided on these websites.
    </div>
    <br>
    <br>
</body>

</html>